/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.5rem;
  font-weight: 700;
}

.container {
  text-align: center;
  padding: 20px;
  position: relative; /* Pastikan elemen ini memiliki posisi relatif */
  z-index: 1; /* Atur z-index lebih tinggi dari .cube jika perlu */
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.countdown-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
  margin-bottom: 2rem;
}

.countdown {
  display: flex;
  justify-content: center;
}

.countdown-item {
  margin: 0 1rem;
}

.countdown-value {
  font-size: 3rem;
  font-weight: bold;
}

.countdown-label {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.email-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="email"] {
  padding: 15px;
  width: 350px;
  border: none;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  outline: none;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;
}

.g-recaptcha {
  margin-bottom: 10px;
}

button {
  padding: 15px 20px;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #000;
  color: #fff;
}

.cube {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  animation: rotate 20s linear infinite;
}

.cube-face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid #fff;
  opacity: 0.5;
}

.cube-face:nth-child(1) {
  transform: translateZ(100px);
}

.cube-face:nth-child(2) {
  transform: rotateY(180deg) translateZ(100px);
}

.cube-face:nth-child(3) {
  transform: rotateY(-90deg) translateZ(100px);
}

.cube-face:nth-child(4) {
  transform: rotateY(90deg) translateZ(100px);
}

.cube-face:nth-child(5) {
  transform: rotateX(-90deg) translateZ(100px);
}

.cube-face:nth-child(6) {
  transform: rotateX(90deg) translateZ(100px);
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateX(0) rotateY(0);
  }

  100% {
    transform: translate(-50%, -50%) rotateX(360deg) rotateY(360deg);
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2rem;
  }

  .countdown-value {
    font-size: 2rem;
  }

  .cube {
    width: 200px;
    height: 200px;
    position: absolute;
    top: calc(50% - 100px); /* Mengubah top agar posisi tengah lebih akurat */
    left: calc(50% - 100px); /* Mengubah left agar posisi tengah lebih akurat */
    transform-style: preserve-3d;
    animation: rotate 20s linear infinite;
  }

  .cube-face {
    width: 100px;
    height: 100px;
  }

  .cube-face:nth-child(1) {
    transform: translateZ(50px);
  }

  .cube-face:nth-child(2) {
    transform: rotateY(180deg) translateZ(50px);
  }

  .cube-face:nth-child(3) {
    transform: rotateY(-90deg) translateZ(50px);
  }

  .cube-face:nth-child(4) {
    transform: rotateY(90deg) translateZ(50px);
  }

  .cube-face:nth-child(5) {
    transform: rotateX(-90deg) translateZ(50px);
  }

  .cube-face:nth-child(6) {
    transform: rotateX(90deg) translateZ(50px);
  }
}
